@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap");

* {
  outline: dashed red 1px;
}

.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12rem;
  font-weight: 600;
  color: #1a1919;
  text-shadow: -0.04em -0.05em 0.03em rgb(106, 106, 106, 0.5);
  margin: 0;
}

.player {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  padding-left: 1rem;
  margin: 0;
}

.box-container {
  height: 50vw;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 2% 2%;
  background-color: black;
}

.box {
  height: 32%;
  width: 32%;
  justify-content: flex-start;
  background-color: white;
}



