@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap");

body {
  background: #5AC3B0;
}

.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12rem;
  font-weight: 600;
  color: #F7CD46;
  text-shadow: -0.04em -0.05em 0.03em rgb(106, 106, 106, 0.5);
  margin: 0;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 6rem;
    line-height: 1.2;
  }
}


.Player-1  {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  padding-left: 1rem;
  margin: 0;
  color: ivory;
  text-align: center;
}

.Player-2  {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  padding-left: 1rem;
  margin: 0;
  color:darkslategray;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .player {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.reset {
  margin-left: 1rem;
  background-color: #c3ae5a;
  border: 2px solid #111;
  border-radius: 8px;
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  height: 2em;
  padding: 0 2em;
  position: relative;
  transition-duration: 0.2s;

}

 .reset:active {
  background-color: #c11300;
  color: white;
} 

.reset:hover {
  background-color: #a09f9f;
}

.box-container {
  height: 50vw;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 2% 2%;
  background-color: black;
}

.box {
  height: 32%;
  width: 32%;
  justify-content: flex-start;
  background-color: #5AC3B0;
}

.threebythreecontainer {
  text-align: center;
}



