@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap");

body {
  background: #5ac3b0;
}

.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12rem;
  font-weight: 600;
  color: #f7cd46;
  text-shadow: -0.04em -0.05em 0.03em rgb(106, 106, 106, 0.5);
  margin: 0;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 6rem;
    line-height: 1.2;
  }
}

.Player-1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  padding-left: 1rem;
  margin: 0;
  color: ivory;
  text-align: center;
}

.Player-2 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  padding-left: 1rem;
  margin: 0;
  color: darkslategray;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .Player-1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .Player-2 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.checkwhowins {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #f7cd46;
  text-shadow: -0.04em -0.05em 0.03em rgb(106, 106, 106, 0.5);
  margin: 0;
}

.reset {
  background-color: #f55861;
  border: 2px solid #111;
  border-radius: 8px;
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  height: 2em;
  padding: 0 2em;
  position: relative;
  transition-duration: 0.2s;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

.reset:active {
  background-color: #c11300;
  color: white;
}

.reset:hover {
  background-color: #4f575c;
}

.box-container {
  height: 50vw;
  width: 50vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: black;
}

.box {
  background-color: #5ac3b0;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10rem;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .box {
    font-size: 3rem;
    font-weight: 100;
  }
}

.box p {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.threebythreecontainer {
  text-align: center;
}

.text-white {
  color: ivory;
}

.text-black {
  color: darkslategray;
}